# dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
coverage

# next.js
.next
out
next-env.d.ts

# production
build
dist
dist-ssr
*.local

# misc
.DS_Store
*.pem

# Logs
logs
*.log

# debug
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor directories and files

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env*
*.tsbuildinfo

# Monorepo
.turbo
patch_changes.md

