.ui-icon,
.ui-icon-flag {
  display: inline-block;
  flex-shrink: 0;
}

.ui-icon-flag {
  height: auto;
}

/* Only to UI icons */
.ui-icon {
  vertical-align: middle;
  pointer-events: none;
}

/* RTL aware icons */
[data-slot='icon-arrow-start']:dir(rtl),
[data-slot='icon-arrow-end']:dir(rtl),
[data-slot='icon-arrow-up-end']:dir(rtl),
[data-slot='icon-arrow-up-start']:dir(rtl),
[data-slot='icon-chevron-end']:dir(rtl),
[data-slot='icon-chevron-start']:dir(rtl),
[data-slot='icon-chevron-end-double']:dir(rtl),
[data-slot='icon-chevron-start-double']:dir(rtl) {
  transform: scaleX(-1);
}
